@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.navigation{
    font-size: medium;
}

.button{
    width: 3rem;
    height: 3rem;
    padding: 0 0 0 0;
}

.buttton p{
    font-size: x-large;
    font-weight: 900;
    margin: 0 0 0 0;
}

.button2{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 0 0 0;
}

.button2 p{
    font-size: medium;
    font-weight: 800;
    margin: 0 0 0 0;
}





